body {
    background-image: url('./white-paper.png');
    font-family: "Merriweather", serif;
    font-size: 20px;
}
.container {
    width: 100%;
    max-width: 1200 px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-weight: bold;
}